@use '../../../../styles/mixins';
@use '../../../../styles/variables';

.container {
}

.container ul {
  padding: 0.7rem 0;

  @include mixins.media(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    justify-items: center;
    align-items: center;

    gap: 0.8rem;

    padding: 1.2rem 0;
  }

  @include mixins.media(desktop) {
    // display: grid;
    gap: 1.2rem;

    padding: 1.8rem 0;
  }
}

.container li {
  position: relative;
  margin-bottom: 0.4rem;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 0.5rem;
    background-color: variables.$secondary-color;
    border-radius: 0.5rem;
  }

  &:last-child::after {
    content: none;
  }

  @include mixins.media(tablet) {
    margin-bottom: 0;
    display: grid;
    // margin-bottom: 0.8rem;
    &:last-child::after {
      content: '';
    }
  }

  @include mixins.media(desktop) {
    margin-bottom: 0;
    // display: grid;
    // margin-bottom: 1.2rem;
    &:last-child::after {
      content: '';
    }
  }
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;

  width: 300px;

  padding-bottom: 0.7rem;

  @include mixins.media(desktop) {
    width: 350px;
  }
}

.buttonsContainer > button {
  background-color: variables.$secondary-color;
  width: 13rem;
}

.buttonsContainer span {
  display: block;
}
