@use '../../styles/mixins';
@use '../../styles/variables';

.container {
  width: 30rem;
  height: 30rem;
  margin: 5rem auto;
  background-image: url('/src/assets/icons/loading.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  animation: spin 3s infinite linear;

  @include mixins.media(tablet) {
    margin: 2rem 0;
    width: 15rem;
    height: 15rem;
  }

  @include mixins.media(desktop) {
    width: 30rem;
    height: 30rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
