@use '../../styles/mixins';
@use '../../styles/variables';

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 300px;

  @include mixins.media(desktop) {
    width: 350px;
  }
}

label {
  display: block;
}
