@use 'variables';

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box-shadow($x: 0, $y: 4px, $blur: 10px, $color: rgba(0, 0, 0, 0.2)) {
  box-shadow: $x $y $blur $color;
}

@mixin border-radius($radius: 5px) {
  border-radius: $radius;
  overflow: hidden;
}

@mixin text-ellipsis($lines: 1) {
  @if $lines == 1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@mixin bold {
  font-weight: bold;
}

// @mixin media($size) {
//   @if $size == mobile {
//     @media (max-width: 600px) { @content; }
//   } @else if $size == tablet {
//     @media (max-width: 1024px) { @content; }
//   } @else if $size == desktop {
//     @media (min-width: 1025px) { @content; }
//   }
// }

// .box {
//   width: 100%;

//   @include media(mobile) {
//     width: 90%;
//   }
// }
