@use '../../styles/mixins';

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  max-width: 1200px;

  margin: 0 auto;
  padding: 0 1rem;

  @include mixins.media(tablet) {
    padding: 0 1.4rem;
  }

  @include mixins.media(desktop) {
    padding: 0 1.8rem;
  }
}

.mainContainer > main {
  flex: 1;
}
