@use '../../styles/mixins';
@use '../../styles/variables';

header {
  margin-bottom: 0.4rem;
  padding-top: 1rem;

  @include mixins.media(tablet) {
    margin-bottom: 0.8rem;
  }

  @include mixins.media(desktop) {
    margin-bottom: 1.2rem;
    padding-top: 1.8rem;
  }
}

.container {
  border-bottom: 1px solid variables.$text-color;
}

.container h1 {
  margin-bottom: 1rem;
}

.container h1::before {
  content: '';
  position: relative;
  display: inline-block;
  top: 2px;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url('/src/assets/icons/icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}

.container button {
  width: 130px;
}

.nameContainer {
  display: flex;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;

  width: 300px;

  padding-bottom: 0.3rem;

  @include mixins.media(tablet) {
    padding-bottom: 0.4rem;
  }

  @include mixins.media(desktop) {
    padding-bottom: 0.6rem;
    width: 350px;
  }
}
