.redBg {
  background-color: red;
}

.greenBg {
  background-color: green;
}

.yellowdBg {
  background-color: yellow;
}

.blueBg {
  background-color: blue;
}

.orangeBg {
  background-color: orange;
}

.purpleBg {
  background-color: purple;
}

.pinkBg {
  background-color: pink;
}

.cyanBg {
  background-color: cyan;
}

.brownBg {
  background-color: brown;
}

.grayBg {
  background-color: gray;
}

.limeBg {
  background-color: lime;
}
