@use '../../styles/mixins';
@use '../../styles/variables';

.container {
  border-top: 1px solid variables.$text-color;
  margin-top: 0.4rem;
  padding: 0.5rem 0;

  @include mixins.media(tablet) {
    margin-top: 0.8rem;
  }

  @include mixins.media(desktop) {
    margin-top: 1.2rem;
    padding: 1rem 0;
  }
}

.container a {
  color: variables.$primary-color;
}
