@use '../../styles/mixins';
@use '../../styles/variables';

.searchContainer {
  display: flex;
  align-items: center;

  margin-bottom: 0.4rem;

  @include mixins.media(tablet) {
    margin-bottom: 0;
  }

  @include mixins.media(desktop) {
    margin-bottom: 0;
  }
}

.searchContainer form {
  position: relative;
}

.searchContainer form input[type='search'] {
  width: 300px;
  padding-left: 3rem;
  background-image: url('/src/assets/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 0.625rem 0.4rem;
  background-size: 1.5rem;
  position: relative;

  &::placeholder {
    color: variables.$text-muted-color;
    opacity: 1;
  }

  &:focus::placeholder {
    color: transparent;
  }

  @include mixins.media(tablet) {
    background-position: 0.625rem 0.6rem;
  }

  @include mixins.media(desktop) {
    background-position: 0.625rem 0.8rem;
  }
}
