@use '../../styles/mixins';
@use '../../styles/variables';

.searchContainer {
  display: flex;
  align-items: center;

  margin-bottom: 0.4rem;

  @include mixins.media(tablet) {
    margin-bottom: 0;
  }

  @include mixins.media(desktop) {
    margin-bottom: 0;
  }
}

.searchContainer input {
  width: 300px;

  &::placeholder {
    color: variables.$text-muted-color;
    opacity: 1;
  }

  &:focus::placeholder {
    color: transparent;
  }
}
